.list-item-container {
  border-radius: 5px;
  padding: 10px;
  border-style: solid;
  color: #b5b7c4;
  border-width: 1px;
  list-style-type: none;
}

.list-upper-container {
  display: flex;
}

.appointment-title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
}

.appointment-date {
  color: #b5b7c4;
}
